<div class="row">
    <div class="col-lg-6">
        <button type="button" class="btn btn-block btn-primary">
            <a style="color:snow" href="..\Usuario\Login" >Entrar no sistema</a>
        </button>
    </div>
    <div class="col-lg-6">
        <button type="button" class="btn btn-block btn-success">
            <a style="color:snow" href="..\Usuario\Registrar">Registrar uma conta</a>
        </button>
    </div>
</div>
