
@{
    ViewData["Title"] = "Menu";
}

<div class="row">
    <a href="../Conta/Index">
        <div class="col-lg-4 text-center">
            <img srv="~/images/conta.png" width="40%" />
            <h3>Criar Conta </h3>
        </div>
    </a>
    <a href="../PlanoConta/Index">
        <div class="col-lg-4 text-center">
            <img srv="~/images/planocontas.png" width="40%" />
            <h3>Plano de contas </h3>
        </div>
    </a>
    <a href="../Transacao/Index">
        <div class="col-lg-4 text-center">
            <img srv="~/images/registrar_transacao.png" width="40%" />
            <h3>Registrar Transação </h3>
        </div>
    </a>
    <a href="../Transacao/Extrato">
        <div class="col-lg-4 text-center">
            <img srv="~/images/extrato.png" width="40%" />
            <h3>Extrato </h3>
        </div>
    </a>
    <a href="../Transacao/DashBoard">
        <div class="col-lg-4 text-center">
            <img srv="~/images/dashboard.png" width="40%" />
            <h3>DashBoard </h3>
        </div>
    </a>
    <a href="../Home/Ajuda">
        <div class="col-lg-4 text-center">
            <img srv="~/images/ajuda.png" width="40%" />
            <h3>Ajuda </h3>
        </div>
    </a>

</div>

